/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-nov-2017, 9:48:50
    Author     : flotante
*/
.niko{
    background-color: #188592;
    border:solid 5px ;
    border-color:#2A3C3E;
    font-size:30px;
    padding-left: 10px;
}
.niko2{
    margin: 25px;
    background-color:#2A3C3E;
}
.niko3{
    background-color:#188592;
    font-size:30px; 
    border:solid #2A3C3E 7px;
}
.niko4{
    margin: 25px;
    background-color:#2A3C3E;
}
.niko4a{
    background-color:#188592;
    font-size:30px; 
    border:solid #2A3C3E 7px;
}
.niko4b{
    margin: 25px;
    background-color:gray;
}
.niko4c{
    background-color:#2A3C3E;
    padding: 10px;
    border:solid gray 10px;
}
.foton{
    float:left;
}
.foton2{
    float: right;
}
