/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-nov-2017, 10:40:11
    Author     : flotante
*/

.body{
    background-color: #8DEA54;
}
.h1{
    text-align: center;
    color: red;
    font-family:'Gloria Hallelujah';
    font-size: 40px;
}
.pri{
    width: 65%;
    text-align:left;
    border-right:solid 5px;
    border-right-color: white;
    font-size: 35px;
    clear:both;
    margin-bottom: 25px;
    text-indent: 40px;
}
.seg{
    width: 65%;
    clear: right;
    float: right;
    border-left: solid 5px;
    border-left-color: white;
    font-size: 35px;
    text-align:right;
    clear:both;
    margin-bottom: 25px;
    font-family: 'Amatic SC';
}
.li1{
    background-color: gray;
    border-bottom: solid red;
}
.li2{
    border-top: solid black;
    margin: 8px;
}
.puntos{
    border-bottom: dotted red;
    font-weight: bold;
}