/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-nov-2017, 10:47:47
    Author     : flotante
*/
body {
    color :black;

}

table.t1{
    width:90%;
    height:300px;
    border:dotted 2px;
    border-color:red;
    padding:0;


}
td.a{
    border:dotted 2px ;
    border-color:red;
}
tr.a1{
    background-color: black;
    height:3px;
}
table.t2{
    width:70%;
    height:300px;
    border: solid 1px;
    border-color:black;
    padding:0px;
}
td.b1{
    border: solid 1px;
} 
th.b{
    border: solid 1px;
}
table.b{
    width: 70%;
    height: 300px;
    border:1px solid black;
}
