/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-nov-2017, 21:49:23
    Author     : Erick
*/
body{
    background-color:#028038;
}
#a{
    font-family: verdana;
    color:black;
    font-size:50px;   
}
#b{
    font-size:25px;  
    font:verdana;
    font-style: oblique;
    color:white;
}
#c{
    font-size:30px; 
    font-family:Verdana;
    color: burlywood;
}
#d{
    font-size:30px; 
    font-family:monospace;
    color:#DBA901;
}
#e{
    font-size:27px;  
    font:verdana;
    font-style: oblique;
    color:white;
}
#f{
    font-size:30px; 
    font-family:monospace;
    color:#DBA901;
}
#g{
    font-size:25px; 
    font-family:cursive;
    color: red;
}
#h{
    font-size:30px; 
    font-family:Verdana;
    color: burlywood;
}
#i{
    font-size:25px; 
    font-family:cursive;
    color: red;
}